html {
    background-color: rgb(2, 37, 63);
}

body {
    margin: 40px;
    padding: 40px;
    background: rgb(173, 217, 235);
}

.navigation {
    position: sticky;
    top: 40px;
    background-color: rgb(202, 233, 245);
    padding: 20px;
}
